<% provide(:title, 'About') %>

<h1>About WHS Vote</h1>
<p>
  This is WHS Vote, an open source voting application made to increase participation in WHS elections by offering students an online voting alternative to physical votes.
</p>
<p>
  <a href="https://github.com/SamLau95/whs_vote">Check out the code at GitHub!</a>
</p>
