<% provide(:title, 'All Students') %>
<h1>All Students</h1>

<%= will_paginate %>

<ul class="students">
  <%= render partial: 'student', collection: @students, as: :student %>
</ul>

<%= will_paginate %>