<% provide(:title, @student.name) %>
<div class="row">
  <aside class="span2">
    <section>
      <h1>
        <%= @student.name %> | <%= @student.grade %>
      </h1>
    </section>
  </aside>
  <div class="span10">
    <% if @student.votes.any? %>
      <%= render 'vote_record' %>
    <% elsif !admin? %>
      <p>test</p>
      <%= render 'vote_form' %>
    <% end %>
  </div>
</div>