<% provide(:title, @student.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @student.name %>
        | 
        <%= @student.grade %>
      </h1>
    </section>
  </aside>
</div>