<% provide(:title, @student.name) %>
<div class="row">
  <aside class="span3">
    <section>
      <h1>
        <%= @student.name %> | <%= @student.grade %>
      </h1>
    </section>
  </aside>
  <div class="span9">
    <% if @votes %>
      <%= render 'vote_record' %>
    <% else %>
      <%= render 'vote_form' %>
    <% end %>
  </div>
</div>