<footer class="footer">
  <small>
    Copyright 2013 Sam Lau
  </small>
  <nav>
    <ul>
      <li><a href="https://github.com/SamLau95/whs_vote">Check out the code at GitHub!</a></li>
      <li><%= link_to "Contact Me!", contact_path %></li>
    </ul>
  </nav>
</footer>